<!-- app/views/pages/index.html.erb -->

<h1 class="heading-primary">Data Collection</h1>

<div class="container-custom">

  <%= form_with(url: search_users_path, method: :get) do |form| %>
    <%= form.text_field :search, placeholder: "Search by name..." %>
    <%= form.submit "Search" %>
  <% end %>

  <table class="table-custom">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to 'View Posts', user_posts_path(user), class: 'btn btn-primary btn-custom' %>
            <%= link_to 'View Comments', user_comments_path(user), class: 'btn btn-secondary btn-custom' %>
            <%= link_to 'Show More', user_path(user), class: 'btn btn-primary btn-custom' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @users %>
