<!DOCTYPE html>
<html>
  <head>
    <title>Idp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'custom' %>
    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap JavaScript -->
    <%= stylesheet_link_tag 'application', 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
      <nav class="nav-top">
      <ul>
        <li><%= link_to 'Home', index_path, class: 'nav-link' %></li>
        <li><%= link_to 'About', about_path, class: 'nav-link' %></li>
        <!-- Other menu items -->
      </ul>
    </nav>

    <%= yield %>
  
  </body>

  </html>
